<!DOCTYPE html>
<html>

<head>
    <title>Instagram - Hawk Eyed</title>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <style>
        #footer {
            bottom: 0;
            width: auto;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <h3 style="color:rgb(170, 67, 211);">Automate It!</h3>
    </div>

    <footer id="footer" class="bd-footer text-muted">
        <div>
            <p>Designed <a href="https://github.com/powerfist01/hawk-eyed" target="_blank"><i class="fab fa-github"></i>
            </a> and built with lots of <i style="color: red;" class="fas fa-heart"></i><i style="color: red;" class="fas fa-heart"></i>.</p>
        </div>
    </footer>
</body>

</html>
